<div id="signupModal" class="join">
  <a class="close" href="javascript: hideSignupModal();"
    ><i class="fas fa-times"></i
  ></a>
  <div class="join-form">
    <div class="form-header">
      <h3 class="company-name text-uppercase"><b>Baltimore</b> Tech</h3>
      <h6 class="powered-by">powered by <b>Betamore</b> & <b>Fearless</b></h6>
    </div>
    <form class="form">
      <input
        type="text"
        class="form-control"
        name="username"
        autocomplete="username"
        placeholder="Create your username"
      />
      <input
        type="password"
        class="form-control"
        autocomplete="current-password"
        name="password"
        placeholder="Create your password"
      />
      <div class="text-center">
        <button
          type="button"
          class="btn btn-olive rounded-pill text-uppercase mb-3"
          onclick="login();"
        >
          Signup
        </button>
      </div>
    </form>
  </div>
</div>
