---
---

#orgPage {
  padding: 40px;
  background: #e6e6e6;

  .pagination {
    li.active a {
      background: #449d44;
      color: #fff;
    }
    li {
      border-color: #449d44;
      float: left;
      border: 1px solid #aaa;
      border-right: none;
      list-style: none;
      display: list-item;
    }
    li:first-child {
      border-radius: 3px 0 0 3px;
    }
    li:last-child {
      border-right: 1px solid #aaa;
      border-radius: 0 3px 3px 0;
    }
    a.page {
      color: #449d44;
      width: 36px;
      height: 34px;
      line-height: 34px;
      font-size: 16px;
      display: block;
      text-decoration: none;
      text-align: center;
    }
  }

  .register-link {
    font-size: 14px;
    color: #333;
    text-decoration: underline;
    font-weight: bold;
  }
  .search-bar {
    display: flex;
    margin-bottom: 40px;
    .selectized {
      text-align: left;
      width: 100%;
      .selectize-input {
        padding: 16px;
        border-radius: 0;
        box-shadow: none;
        font-weight: 600;
        font-size: 16px;
        > input {
          display: block;
          font-family: "Montserrat", sans-serif;
          font-weight: 600;
          font-size: 16px;
          color: #333;
          &::placeholder {
            color: #ccc;
          }
        }
        &::after {
          display: none;
        }
      }
      .search-result-item {
        padding: 6px;
        font-size: 16px;
        font-weight: 600;
      }
    }
    #btnSearch {
      height: 52px;
      border-radius: 0;
      text-transform: uppercase;
      color: #fff;
      padding: 0 20px;
    }
  }

  .title {
    font-weight: 600;
  }

  .thumbnail {
    max-width: 90px;
    margin-right: 30px;
  }

  .org-card {
    background: #fff;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 12px 12px 30px 0 #aaa;
  }
  .link {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
  }
  .description {
    font-size: 14px;
    margin: 20px 0;
  }
}
