---
title: Baltimore Tech - Upcoming Events
layout: default
permalink: /events
css-list:
  - "/assets/vendor/selectize/css/selectize.css"
  - "/assets/vendor/datepicker/tempusdominus-bootstrap-4.min.css"
  - "/assets/css/search-bar.css"
  - "/assets/css/events.css"
js-list:
  - "/assets/vendor/datepicker/moment.js"
  - "/assets/vendor/datepicker/tempusdominus-bootstrap-4.min.js"
  - "/assets/vendor/selectize/js/standalone/selectize.min.js"
  - "/assets/js/events-calendar.js"
  - "/assets/js/events.js"
---

<div id="eventsPage" class="container-fluid">
  <div class="row">
    <div class="gap"></div>
    <div id="eventsHappeningMap" class="w-100" style="height: 460px"></div>
  </div>
  <div class="row upcoming-events">
    <div class="container">
      <div class="row flex-column">
        <div class="col-sm mb-3">
          <div class="row">
            <div class="col-sm">
              <h3 class="d-inline-block text-uppercase">
                <b>Upcoming Events</b>
              </h3>
            </div>
            <div
              class="col-sm d-flex flex-row align-items-center justify-content-between"
            >
              <ul class="list-inline event-classes">
                <li class="list-inline-item">Meetup</li>
                <li class="list-inline-item">Class</li>
                <li class="list-inline-item">Event</li>
              </ul>
              <div>
                <a class="text-dark" href="{{ site.baseurl }}/learn"
                  ><strong><u>See All Events</u></strong></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="search-bar">
            <input
              type="text"
              id="search"
              placeholder="Start typing a keyword here..."
              autocomplete="off"
            />
          </div>
        </div>
        <div class="col-sm">
          <div class="row list events flex-column align-items-center">
            {% for event in site.data.upcoming-events %}
            <div class="col-sm-10">
              <div class="event-card {{ event.type }}">
                <div class="event-type event.type">#{{ event.type }}</div>
                <div class="d-flex justify-content-between">
                  <div class="event-details">
                    <h4 class="mb-3 event.title">
                      <strong>{{ event.title }}</strong>
                    </h4>
                    <h6 class="event.location">
                      <strong>{{ event.location }}</strong>
                    </h6>
                  </div>
                  <div class="event-date">
                    <strong class="event.date">{{ event.date }}</strong
                    ><br />
                    <strong class="event.time">{{ event.time }}</strong> <br />
                    <button class="btn btn-olive rounded-pill text-white mt-2">
                      Register
                    </button>
                  </div>
                </div>
                <p class="event-summary event.summary">{{ event.summary }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include events-calendar.html %}
</div>

<script type="text/javascript">
  function initEventsMap() {
    const data = JSON.parse(`{{site.data.upcoming-events | jsonify}}`);
    const geocoder = new google.maps.Geocoder();
    const bounds = new google.maps.LatLngBounds();
    const mapOptions = {
      mapTypeId: "roadmap"
    };
    const map = new google.maps.Map(
      document.getElementById("eventsHappeningMap"),
      mapOptions
    );

    data.forEach(event => {
      geocoder.geocode({ address: event.location }, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          let position = results[0].geometry.location;
          bounds.extend(position);
          marker = new google.maps.Marker({
            position,
            map,
            title: event.location
          });
          // Automatically center the map fitting all markers on the screen
          map.fitBounds(bounds);
        } else {
          console.error(`Geocode unsuccessful: ${status}`);
        }
      });
    });

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    const boundsListener = google.maps.event.addListener(
      map,
      "bounds_changed",
      function(event) {
        this.setZoom(14);
        google.maps.event.removeListener(boundsListener);
      }
    );
  }
</script>
<!-- google maps api -->
<script
  src="https://maps.googleapis.com/maps/api/js?key={{
    site.google_maps_api
  }}&callback=initEventsMap"
  async
  defer
></script>
