---
title: Baltimore Tech - Upcoming Events
layout: default
permalink: /events
css-list:
  - "/assets/vendor/pagination/pagination.css"
  - "/assets/vendor/selectize/css/selectize.css"
  - "/assets/vendor/datepicker/tempusdominus-bootstrap-4.min.css"
  - "/assets/css/search-bar.css"
  - "/assets/css/events.css"
js-list:
  - "/assets/vendor/pagination/pagination.min.js"
  - "/assets/vendor/datepicker/moment.js"
  - "/assets/vendor/datepicker/tempusdominus-bootstrap-4.min.js"
  - "/assets/vendor/selectize/js/standalone/selectize.min.js"
  - "/assets/js/events-calendar.js"
  - "/assets/js/events.js"
---

<div id="eventsPage" class="container-fluid">
  <div class="row">
    <div class="gap"></div>
    <div id="eventsHappeningMap" class="w-100" style="height: 460px"></div>
  </div>
  <div class="row upcoming-events">
    <div class="container">
      <div class="row flex-column">
        <div class="col-sm mb-3">
          <div class="row">
            <div class="col-sm">
              <h3 class="d-inline-block text-uppercase">
                <b>Upcoming Events</b>
              </h3>
            </div>
            <div
              class="col-sm d-flex flex-row align-items-center justify-content-between"
            >
              <ul class="list-inline event-classes">
                <li class="list-inline-item">Meetup</li>
                <li class="list-inline-item">Class</li>
                <li class="list-inline-item">Event</li>
              </ul>
              <div>
                <a class="text-dark" href="{{ site.baseurl }}/learn"
                  ><strong><u>See All Events</u></strong></a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="search-bar">
            <input
              type="text"
              id="search"
              placeholder="Start typing a keyword here..."
              autocomplete="off"
            />
          </div>
        </div>
        <div class="col-sm">
          <div
            id="dataContainer"
            class="row list events flex-column align-items-center"
          ></div>
          <div id="paginationContainer" class="row px-5"></div>
        </div>
      </div>
    </div>
  </div>
  {% include events-calendar.html %}
</div>

<script type="text/javascript">
  function initEventsMap() {

    {% assign events = "" | split: ',' %}
    {% for year in site.data.events %}
      {% for month in year[1] %}
        {% for event_hash in month[1] %}
          {% assign event = event_hash[1] %}
          {% assign event.type = 'meetup' %}
          {% assign events = events | push: event %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
    const data = {{ events | jsonify}};
    const geocoder = new google.maps.Geocoder();
    const bounds = new google.maps.LatLngBounds();
    const mapOptions = {
      mapTypeId: "roadmap"
    };
    const map = new google.maps.Map(
      document.getElementById("eventsHappeningMap"),
      mapOptions
    );

    data.forEach(event => {
      if(event.venue && event.venue.lat && event.venue.lon) {
        let position = new google.maps.LatLng(event.venue.lat, event.venue.lon)
        bounds.extend(position);
        marker = new google.maps.Marker({
          position,
          map,
          title: event.venue.name
        });
        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
      } else
      if(event.group && event.group.lat && event.group.lon) {
        let position = new google.maps.LatLng(event.group.lat, event.group.lon)
        bounds.extend(position);
        marker = new google.maps.Marker({
          position,
          map,
          title: event.group.name
        });
        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
      } else {
        console.warn(event)
        geocoder.geocode({ address: event.venue.name }, function(results, status) {
          if (status === google.maps.GeocoderStatus.OK) {
            let position = results[0].geometry.location;
            bounds.extend(position);
            marker = new google.maps.Marker({
              position,
              map,
              title: event.venue.name
            });
            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
          } else {
            console.error(`Geocode unsuccessful: ${status}`);
          }
        });
      }
    });

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    const boundsListener = google.maps.event.addListener(
      map,
      "bounds_changed",
      function(event) {
        this.setZoom(12);
        google.maps.event.removeListener(boundsListener);
      }
    );
  }
</script>
<!-- google maps api -->
<script
  src="https://maps.googleapis.com/maps/api/js?key={{
    site.google_maps_api
  }}&callback=initEventsMap"
  async
  defer
></script>
