---
title: Baltimore Tech - Peoples
layout: default
permalink: /peoples
css-list:
  - "/assets/css/search-bar.css"
  - "/assets/css/peoples.css"
js-list:
  - "/assets/js/peoples.js"
---

<div id="peoplesPage" class="container-fluid">
  <div class="container m-auto">
    <div class="row flex-column">
      <div class="col-sm mb-3">
        <div class="row">
          <div class="col-sm">
            <h3 class="d-inline-block text-uppercase"><b>People</b></h3>
          </div>
          <div class="col-sm d-flex flex-row align-items-center justify-content-between">
            <ul class="list-inline event-classes">
              <li class="list-inline-item">Full-time</li>
              <li class="list-inline-item">Part-time</li>
              <li class="list-inline-item">Remote</li>
            </ul>
            <div>
              <a class="text-dark" href="#"><strong><u>See All People</u></strong></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm mb-4">
        <div class="search-bar">
          <input type="text" id="search" class="search" placeholder="Start typing a keyword here..." autocomplete="off" />
        </div>
      </div>
    </div>
    <div id="dataContainer" class="row flex-column align-items-center list">
      {% for people_hash2 in site.data.peoples %}
      {% for people_hash in people_hash2[1] %}
      {% assign people = people_hash[1] %}
      <div class="col-sm-11 people-card {{ people.type  }}">
        <div class="row">
          <div class="col-sm-12 col-lg-3 mb-4 text-center">
            <img src="{{ people.picture }}" alt="{{ people.name }}" class="people-thumbnail" />
          </div>
          <div class="col-sm-8 col-lg-7 mb-4">
            <h3 class="text-uppercase people.name">
              <strong>{{ people.name }}</strong>
            </h3>
            <h6 class="mb-4 people.profession">{{ people.profession }}</h6>
            <h6 class="mb-4 people.education">{{ people.education }}</h6>
            <ul class="list-inline social-list">
              <li class="list-inline-item">
                <a href="https://slack.com" target="_blank"><i class="fab fa-slack"></i></a>
              </li>
              {% if people.links.twitter %}
              <li class="list-inline-item">
                <a href="{{ people.links.twitter }}" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              {% endif %}
              {% if people.links.linkedin %}
              <li class="list-inline-item">
                <a href="{{ people.links.linkedin }}" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              {% endif %}
              {% if people.links.facebook %}
              <li class="list-inline-item">
                <a href="{{ people.links.facebook }}" target="_blank">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              {% endif %}
              {% if people.links.github %}
              <li class="list-inline-item">
                <a href="{{ people.links.github }}" target="_blank">
                  <i class="fab fa-github-alt"></i>
                </a>
              </li>
              {% endif %}
              {% if people.links.website %}
              <li class="list-inline-item">
                <a href="{{ people.links.website }}" target="_blank">
                  <i class="fa fa-link"></i>
                </a>
              </li>
              {% endif %}
            </ul>
            {% if people.resume.url %}
            <a href="{{ people.resume.url }}" class="btn-resume btn btn-dark text-uppercase rounded-pill">
              Resume
            </a>
            {% endif %}
          </div>
          <div class="col-sm-4 col-lg-2">
            <ul class="people.skills list-unstyled skills-list">
              {% for skill in people.skills %}
              <li>{{ skill }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
    <div class="no-result">No Results</div>
    <ul class="pagination px-4">
      <button class="prev"><</button>
      <ul class="pager" />
      <button class="next">></button>
    </ul>
  </div>
</div>
