<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    {% for css in page.css-list %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ css | prepend: site.baseurl }}"
    />
    {% endfor %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/assets/css/main.css' | prepend: site.baseurl }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ '/assets/css/jobpost.css' | prepend: site.baseurl }}"
    />
  </head>
  <body>
    <div class="container-fluid p-0">
      <header>{% include header.html %}</header>
      <section>
        <div id="jobpostpage" class="container">
          <div class="row banner align-items-center">
            <div class="col-sm-9 p-0 mb-3">
              <h3>
                <strong>{{ page.position }}</strong>
              </h3>
              <h6>{{ page.alt }}</h6>
            </div>
            <div class="col-sm p-0">
              <div class="apply btn btn-olive rounded-pill">Apply</div>
            </div>
          </div>
          <div class="row p-4">
            <div class="col-lg-2 mb-4">
              <button class="btn btn-tweet">
                <i class="fab fa-twitter"></i>Tweet
              </button>
              <br /><br />
              <button class="btn btn-share">
                <i class="fab fa-facebook"></i>Share
              </button>
            </div>
            <div class="col-lg">{{ content }}</div>
          </div>
        </div>
      </section>
      <footer>{% include footer.html %}</footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
      integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
      crossorigin="anonymous"
    ></script>
    <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
    {% for js in page.js-list %}
    <script
      type="text/javascript"
      src="{{ js | prepend: site.baseurl }}"
    ></script>
    {% endfor %}
  </body>
</html>
